<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAWrWykn21EjP0uDK7UJSEZGSm0nFrb8M</string>
	<key>GCM_SENDER_ID</key>
	<string>363796383072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projecommerce</string>
	<key>PROJECT_ID</key>
	<string>projecommerce-e7409</string>
	<key>STORAGE_BUCKET</key>
	<string>projecommerce-e7409.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363796383072:ios:b63034fcee288f41a84a05</string>
</dict>
</plist>